.vs/
# Ignore the entire build directory (executables, cmake files, etc.)
*build/
*install/
*env/

# Ignore ROOT files, log files, and data outputs
*.root
*.ntuple
*.csv
*.log

# Ignore UI macro outputs if they generate large files
/output/
/out/

# Ignore  Mac/Linux system junk
.DS_Store